header {
  font-family: 'Questrial', sans-serif;
  color: #1E073D;
  font-size: 25;
  padding-top: 30px;
  padding-right: 60px;
  text-align: right;
}

body {
font-family: 'Comfortaa', cursive;
background: #D1DEB4;
padding-left: 30px;
}

}
.text {
  float: right;
  width: 25%;
}

.main {
  padding-right: 60px;
  font-family: 'Comfortaa', cursive;
  width: 200px;
  text-align: right;
  float: right;
}
